.analysed-segment {
    height: 100%;
    &__square {
        /* Second/green */
        background: #b3f1c8;
        /* Second/Gray color */
        border: 1px solid #c8cacc;
        width: 30px;
        height: 30px;
    }
    &__without-def {
        height: 383px;
        width: 100%;
        background: #d6e4ff;
    }
    &__with-def {
        height: 383px;
        height: 100%;
                width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #ffd6d8;
    }
    &__gray {
        height: 383px;
        width: 100%;
        background: #f0f0f0;
    }
    &__succ,
    &__wait {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
