$dark-blue:rgba(4, 48, 106, 1);
$middle-blue:rgba(214, 228, 255, 1);
$background-blue:rgba(241, 247, 255, 1);
$main-red:rgba(255, 214, 216, 1);
$accent-red:rgba(252, 14, 27, 1);
$input-red:rgba(250, 252, 255, 1);
