@import "./variables";
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Black.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-BlackItalic.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Bold.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-BoldItalic.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Italic.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Light.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Medium.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./fonts/Roboto-Thin.ttf) format("ttf");
}
p,
div,
a,
button,
span,
h1,
h2,
h3,
h4,
::placeholder,
input,
textarea {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}
*:focus {
    outline: none !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: none !important;
    border-color: none;
}
a {
    text-decoration: none !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Main/Wight color */

    color: #ffffff !important;
}
body {
    overflow: hidden;
}
.App {
    height: calc(100vh - 93px);
}
.auth__form {
    position: absolute;
    left: 50%;
    top: 50%;
    // transform: translateX(-50%);
    transform: translate(-50%, -50%);
}
.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    svg {
        margin-right: 35px;
    }
    padding: 19px 32px !important;
    // max-width: 345px;
}
.btn-outline-primary {
    border-radius: 0px !important;
    border-color: $dark-blue !important;
    color: $dark-blue !important;
}
.btn-outline-primary:hover {
    background: $dark-blue !important;
    color: white !important;
    path {
        stroke: white !important;
    }
}
.btn-primary {
    border-radius: 0px !important;
    border-color: $dark-blue !important;
    background: $dark-blue !important;
}
.btn-primary:hover {
    border-radius: 0px !important;
    border-color: $dark-blue !important;
    opacity: 0.5;
}
.row {
    max-width: 100%;
}
#img {
    // border: 1px solid red;
    // width: 500px;
    // height: 500px;
}
.upper-canvas {
    background: none !important;
}
.ruler-horizontal {
    rect[x^="-"] {
        display: none !important;
    }
    text[x^="-"] {
        display: none !important;
    }

    rect {
        width: 3px;
        fill: black !important;
    }
}
.ruler-vertical {
    rect {
        height: 3px;
        fill: black !important;
    }
    rect[y^="-"] {
        display: none !important;
    }
    text[y^="-"] {
        display: none !important;
    }
    // rect[y^="600"] {
    //     display: none !important;
    // }
    // text[y^="600"] {
    //     display: none !important;
    // }
    text {
        margin-right: 10px;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.accordion-body {
    padding: 12px 16px !important;
}
.history {
    max-height: 100%;
    overflow: scroll;
}
// .modal-content{
//     height: 90vh;
// }
.auth{
    &__control{
        padding: 14px 16px !important;
        border-radius:0 !important;
    }
}