@import "./variables";
@font-face {
    font-family: "Heartless";
    src: local("Heartless"), url(./fonts/Heartless.ttf) format("ttf");
}
p,
div,
a,
button,
span,
h1,
h2,
h3,
h4,
::placeholder,
input,
textarea {
    font-family: "Heartless", Arial, Helvetica, sans-serif !important;
}
*:focus {
    outline: none !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: none !important;
    border-color: none;
}
a {
    text-decoration: none !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Main/Wight color */

    color: #ffffff !important;
}
.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    svg {
        margin-right: 35px;
    }
    padding: 19px 32px !important;
    // max-width: 345px;
}
.btn-outline-primary {
    border-radius: 0px !important;
    border-color: $dark-blue !important;
    color: $dark-blue !important;
}
.btn-outline-primary:hover {
    background: $dark-blue !important;
    color: white !important;
    path {
        stroke: white !important;
    }
}
.btn-primary {
    border-radius: 0px !important;
    border-color: $dark-blue !important;
    background: $dark-blue !important;
}
.btn-primary:hover {
    border-radius: 0px !important;
    border-color: $dark-blue !important;
    opacity: 0.5;
}
.row {
    max-width: 100%;
}
#img {
    border: 1px solid red;
    // width: 500px;
    // height: 500px;
}
.upper-canvas {
    background: none !important;
}
